.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */

}
.head{
    font-size: large;
    padding: 19px 0px 4px 0px;
}
.cardsContainer{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.priceContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 12px 0px 0px;
    font-size: large;
    font-weight: bold;
}
